// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
/* DataTables Entries Dropdown */
.dt-length {
    display: flex;
    align-items: center;
    gap: 8px;
}

